In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')
import seaborn as sns

In [2]:
train = pd.read_csv('../data/train.csv')
test = pd.read_csv('../data/test_x.csv')

In [3]:
train_score = pd.read_csv('../data/train_score.csv')
test_score = pd.read_csv('../data/test_x_score.csv')

train_score = train_score['score']
test_score = test_score['score']

In [4]:
train['score'] = train_score
test['score'] = test_score

In [5]:
vote = train['voted']
data = pd.concat([train,test],join='inner')

In [6]:
data.shape

(56915, 78)

- wr 합계로 퉁
- wf 합계로 퉁

In [7]:
wr_col=[]
for i in range(1,14):
    if len(str(i))!=2:
        i = '0'+str(i)
    wr_col.append('wr_'+str(i))
wr_col

['wr_01',
 'wr_02',
 'wr_03',
 'wr_04',
 'wr_05',
 'wr_06',
 'wr_07',
 'wr_08',
 'wr_09',
 'wr_10',
 'wr_11',
 'wr_12',
 'wr_13']

In [8]:
data['wr_score'] = np.sum(data[wr_col],axis=1)

In [9]:
data['wf_score'] = data['wf_01'] + data['wf_02'] + data['wf_03']

In [10]:
wr_col.append('wf_01')
wr_col.append('wf_02')
wr_col.append('wf_03')
data.drop(wr_col,axis=1,inplace=True)

In [11]:
data[data['wf_score'] == 3] # 허언증 시키들

,index,QaA,QaE,QbA,QbE,QcA,QcE,QdA,QdE,QeA,...,tp05,tp06,tp07,tp08,tp09,tp10,urban,score,wr_score,wf_score
74,74,1.0,39,1.0,37,1.0,45,1.0,38,1.0,...,6,6,6,0,6,0,3,32,10,3
81,81,1.0,297,2.0,1483,2.0,1393,2.0,553,5.0,...,0,3,2,6,1,6,3,29,12,3
125,125,1.0,371,5.0,572,5.0,562,1.0,708,1.0,...,2,4,6,6,0,6,2,44,13,3
249,249,1.0,356,5.0,2092,5.0,581,1.0,866,2.0,...,2,2,2,5,1,1,2,44,11,3
280,280,1.0,274,5.0,1929,5.0,953,2.0,1404,3.0,...,5,1,2,6,2,4,2,40,3,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11168,11168,1.0,619,4.0,1123,5.0,836,1.0,649,2.0,...,2,3,3,6,3,3,3,39,13,3
11226,11226,1.0,292,5.0,818,5.0,703,1.0,594,1.0,...,0,1,6,4,2,5,3,44,1,3
11232,11232,1.0,889,1.0,1005,4.0,608,4.0,1964,3.0,...,1,2,0,1,2,2,3,31,12,3
11274,11274,1.0,455,5.0,1052,5.0,923,1.0,700,5.0,...,1,0,6,6,0,6,3,36,13,3
11372,11372,1.0,533,5.0,859,5.0,415,1.0,545,1.0,...,0,6,6,6,0,6,3,44,13,3

In [12]:
a_col=[]
for i in range(ord('a'),ord('t')+1):
    a_col.append('Q'+chr(i)+'A')
answer = data[a_col]

In [17]:
outlier_idx =[]
for i in range(answer.shape[0]):
    for j in range(1,6):
        if np.sum(answer.values[i]== np.array([j]*answer.shape[1])) == answer.shape[1]:
            outlier_idx.append(i)

In [18]:
outlier_idx # 똑같은 응답을 한 새끼들 -> 삭제 좀 나중에 하자

[74,
 703,
 811,
 876,
 1257,
 1336,
 1527,
 2464,
 2930,
 3246,
 4410,
 5040,
 5562,
 6225,
 6429,
 7148,
 9713,
 9959,
 11885,
 16072,
 16138,
 20602,
 21482,
 22514,
 22782,
 22925,
 25790,
 26665,
 27809,
 29236,
 30640,
 31177,
 32529,
 32545,
 33014,
 37552,
 37784,
 38873,
 42124,
 48877,
 51244,
 51973,
 53243,
 54866]